In [17]:
import pandas as pd

In [18]:
epochs = 100

df = pd.read_csv(f'all_results_{epochs}_epochs.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

exec = 'Mean'
seed = ''
mean = df['mean'].mean()
median = df['mean'].median()
std = df['mean'].std()
max = df['mean'].max()
min = df['mean'].min()

df.iloc[9,:] = [exec,seed,mean,median,std,max,min]

df.to_excel(f'all_results_{epochs}_epochs.xlsx')

In [48]:
all_epochs_results = []
for epochs in [10,20,30,40,50,100]:
    df = pd.read_csv(f'all_results_{epochs}_epochs.csv')
    df['epochs'] = [epochs for i in range(10)]
    all_epochs_results.append(df)

df = pd.concat(all_epochs_results)                                                                  
df.drop('Unnamed: 0', axis=1, inplace=True)

In [49]:
df.to_csv('csv_all_epochs.csv')

In [51]:
df_per_epochs=df.groupby('epochs')[['mean', 'median', 'std',  'max', 'min']].mean()

In [52]:
df_per_epochs.to_excel('all_results.xlsx')

In [53]:
df_per_epochs

            mean    median       std       max       min
epochs
10      0.759146  0.776789  0.071574  0.836523  0.475948
20      0.793254  0.810420  0.075595  0.881932  0.498746
30      0.787393  0.804002  0.077601  0.876401  0.482332
40      0.794586  0.811123  0.072487  0.877555  0.509698
50      0.787259  0.806696  0.077056  0.872983  0.491547
100     0.786307  0.798557  0.070525  0.870957  0.490751